@charset "UTF-8";

@keyframes cartero {
from {
background-position: 0px;
}

to {
background-position: -1456px;
}
}

@-ms-keyframes cartero {
from {
background-position: 0px;
}

to {
background-position: -1456px;
}
}

@-o-keyframes cartero {
from {
background-position: 0px;
}

to {
background-position: -1456px;
}
}

@-webkit-keyframes cartero {
from {
background-position: 0px;
}

to {
background-position: -1456px;
}
}

@-moz-keyframes cartero {
from {
background-position: 0px;
}

to {
background-position: -1456px;
}
}

.recorte {
width: 104px;
height: 104px;
background-image: url("r.png");
border-bottom: solid;
-ms-animation: cartero .s steps(14, end) infinite;
-webkit-animation: cartero 1s steps(14, end) infinite;
-moz-animation: cartero s steps(14, end) infinite;
-o-animation: cartero 1s steps(14, end) infinite;
animation: cartero 1s steps(14, end) infinite;
}